body {
    font-family: 'Source Sans Pro', sans-serif;
    color: #404040;
    margin: 0;
}

/* =================
    Typography 
   ================= */

h1 {
    font-size: 2.5em;
    font-weight: 400;
    text-shadow: 0 2px #816fca;
}

.beta-text { 
    font-weight: 900;
}

.subheading {
    color: #575757;
    font-weight: 900;
}

/* =================
    Flex containers
   ================= */
.intro,
.main-content {
    display: flex;
    flex-direction: column;
}


/* =================
    Intro
   ================= */
   
.intro { 
    justify-content: center;    
    min-height: 250px;
    text-align: center;
    color: #fff;
    background-color: #9480e4;
}

/* ====================
    Main content
   ==================== */

.main-content {
    align-items: center;
    padding-top: 2.5em;
    padding-right: 2em;
    padding-left: 2em;
}

.img-main {
    width: 120px;
    border-radius: 50%;
}


/* =================
    Form
   ================= */
   

/* =================
    Media queries 
   ================= */